<h2>Añade una nueva canción</h2>

<div class="container">
    <form class="form-agregar-cancion" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        
        <!--********** INPUT NOMBRE CANCION ***********-->
        <div class="form-agregar-cancion__form-group">
            <fieldset>
                <legend>Nombre de la canción</legend>
                <input type="text" class="form-control" formControlName="nombreCancion" required>
            </fieldset>
            <small class="form-agregar-cancion__form-group__msg-error" *ngIf="formulario.get('nombreCancion')?.invalid">
                Tienes que insertar el nombre de una canción
            </small>  
        </div>

        <!--********** INPUT NOMBRE AUTOR ***********-->
        <div class="form-agregar-cancion__form-group">
            <fieldset>
                <legend>Nombre del autor</legend>
                <input type="text" class="form-control" formControlName="nombreAutor" required>
            </fieldset>
            <small class="form-agregar-cancion__form-group__msg-error" *ngIf="formulario.get('nombreAutor')?.invalid">
                Tienes que insertar el autor/a de la canción
            </small>
        </div>

        <!--********** INPUT GÉNERO MUSICAL ***********-->
        <div class="form-agregar-cancion__form-group">
            <fieldset>
                <legend>Género musical</legend>
                <input type="text" class="form-control" formControlName="generoMusical" required>
            </fieldset>
            <small class="form-agregar-cancion__form-group__msg-error" *ngIf="formulario.get('generoMusical')?.invalid">
                Tienes que insertar el género musical de la canción
            </small>
        </div>

        <!--********** INPUT SUBMIT ***********-->
        <input class="form-agregar-cancion__boton-submit" type="submit" value="Enviar" [disabled]="formulario.invalid">
    </form>
</div>

<app-canciones></app-canciones>

