/* You can add global styles to this file, and also import other style files */
:root{
    $color-rosa: #fa119c;
    $color-morado: #ad1570;
    $color-amarillo: #fadf2a;
    $color-dorado: #ad980c;
    $color-celeste: #43edfa;
}

h1, h2{
    text-align: center;
}